{% extends "header.html" %}
{% block title %} {{ tab_title + header.about }} {% endblock title %}

{% block content %}
<div class="page-content">
  <main>
    <section style="width: 100%; height: 100%">
      <h2 id="despre-noi" class="header2">Rólunk [fejlesztes alatt]</h2>
      <p>
        Din pasiune pentru horticultură echipa ERMA vă oferă materiale săditoare
        de calitate în toate sezoanele anului. Suntem reprezentanții firmei
        Schneider B.V. din Olanda, firma cu mare diversitate de semințe anuale
        și bienale, răsaduri anuale și bienale, precum și răsaduri perene.
        Calitatea și varietatea soiurilor Schneider sunt incontestabile.
      </p>
      <p>
        De la firma Elsner PAC (Germania) importam sortimentele de Pelargonium
        zonale, interspecifice și cele curgătoare. În fiecare an vă oferim
        soiuri noi și culori magice, butași de înaltă calitate. Totodată
        colaborăm și cu firma Dobay din Ungaria, firma care face posibil ca
        horticultorii cu o capacitate mai mică să aibă acces la o varietate de
        plante pe tăvi alveolare mai mici.
      </p>
      <p>
        Pentru sezonul de crizanteme oferim o paletă largă de soiuri superbe,
        produse de compania JoluPlant din Belgia, cu un o combinație de culori
        irezistibile.
      </p>
      <p>
        De un timp mai îndelungat avem o colaborare fructoasă cu firma C.J.M.
        Vester care are locul în Voorhout (Olanda), inima bulbilor de flori,
        zona ce își merită un astfel de nume datorită solului roditor de care se
        bucură.
      </p>
      <p>
        Pe lângă servirea clienților cu materialele săditoare de calitate, venim
        în ajutorul producătorilor și cu tehnologii de cultivare, îngrijire și
        creștere a diferitelor plante din oferta noastră. Facem acest lucru pe
        baza experienței noastre acumulate pe parcursul a 15 ani, noi fiind de
        asemenea și horticultori, nu numai distribuitori. În solarele noastre
        construite pe o suprafață de 4000 m<sup>2</sup> cultivăm aceleași soiuri
        pe care vi le oferim și dumneavoastră și cunoaștem provocările speciale
        cu care se confruntă horticultorul zi de zi.
      </p>
      <h2 id="obiective" class="header2">Obiective</h2>
      <p>
        Scopul nostru primordial este ca prin intermediul reprezentanților de
        zonă să construim o legătură între firma noastră și clienți. Dorim ca
        clienți noștri să obțină împreună cu produsele comandate tehnologii de
        cultivare pentru fiecare cultură în parte și un program corect de
        alimentați nutrițională în toate fazele de creștere ale plantei.
        Asigurăm consultanță în cazul în care clienți noștri întâmpină greutăți
        în privința protecția plantelor. Totodată împărtășim cu drag ideiile
        noastre referitor la combinații de culori și compoziți de flori.
      </p>
      <h2 id="oferte" class="header2">Oferte</h2>
      <ul class="list-group">
        <li class="list-group-item">Semințe de flori anuale și bienale</li>
        <li class="list-group-item">Răsaduri anuale, bienale, și perene</li>
        <li class="list-group-item">Butași de mușcate zonale și curgătoare</li>
        <li class="list-group-item">
          Butași: flori de balcon, crizanteme și poinsettia
        </li>
        <li class="list-group-item">Bulbi zambile și lalele</li>
        <li class="list-group-item">Ghiveci de flori</li>
        <li class="list-group-item">Îngrășăminte solibile</li>
      </ul>
    </section>
  </main>
  {% include "contact_aside.html" %}
</div>
{% endblock content %}