<aside>
    <ul class="separator list-bulletless no-pad-left">
        {% block instruction %}
        
        {% endblock instruction %}
        <li>
            <a class="green-highlight" href="http://www.erma.ro/katalogusok/instructiunidecultivare.doc">
                <em>Instructiuni de cultivare</em>
            </a>
        </li>
        <li>
            <span>Livrare la domiciliu!</span>
            <span>Livrarea comenzilor pe raza judetului Mures este gratuit, iar in
                celelalte zone se discuta!</span>
        </li>
        <li>
            NUMERE DE TELEFON
            <ul class="list-bulletless">
                <li>0742-651-788</li>
                <li>0746-213-730</li>
                <li>0722-456-828</li>
                <li>0730-107-750</li>
                <li>0740-094-628</li>
            </ul>
        </li>
        <li>
            ADRESA
            <ul class="list-bulletless">
                <li>MIERCUREA NIRAJULUI</li>
                <li>Str. SÂNTANA Nr. 1</li>
                <li>Jud. MURES</li>
                <li>547410</li>
                <li>ROMÂNIA</li>
            </ul>
        </li>
    </ul>
</aside>