{% extends "header.html" %}
{% block title %} {{ tab_title + header.contact }} {% endblock title %}
{% block content %}
<main>
    <section>
        <ul class="separator list-bulletless no-pad-left">
            <li>
                <em> {{ contact.phone_number }}</em>
                <ul class="list-bulletless">
                    <li>0742-651-788</li>
                    <li>0746-213-730</li>
                    <li>0722-456-828</li>
                    <li>0730-107-750</li>
                    <li>0740-094-628</li>
                </ul>
            </li>
            <li>
                <em> {{ contact.address }}</em>
                <ul class="list-bulletless">
                    <li>MIERCUREA NIRAJULUI</li>
                    <li>Str. SÂNTANA Nr. 1</li>
                    <li>Jud. MURES</li>
                    <li>547410</li>
                    <li>ROMÂNIA</li>
                </ul>
            </li>
        </ul>
    </section>
</main>
<aside>
    <div id="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2744.9555041292183!2d24.80489365798274!3d46.5287823221321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474bad13e530a3cb%3A0xc3cf44dfc46b4b4a!2sOffice%20ERMA!5e0!3m2!1sen!2sro!4v1668979231124!5m2!1sen!2sro"
            style="border: 1" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</aside>

{% endblock content %}